.block-container{
    margin: 10px 5%;
    padding: 5px;
    min-width:90%;
    min-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.block-editor{
    min-width: 95%;
    min-height: 250px;
}
.block-view{
    min-width: 95%;
}

.tools-container{
    min-width: 5%;
}

.block__toolbar_visibility_hidden{
    display: none;
}
.block__toolbar_visibility_visible{
    display: block;
}

.block-container_hover{
    box-shadow: 2px 2px 5px rgba(2, 2, 2, .1);
    border-radius: 10px;
}