.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
}

.documentHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    width: 100%;
}

.blockList {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
