
.login-form{
    width: 400px;
    height: auto;
    position: absolute;
    align-items: center;
    align-self: center;

    background-color: #f1f1f1;
    margin: 50px 600px;

    padding: 20px;

    border: 1px outset rgba(0, 0, 0, 0.2);
    border-radius: 25px;

    justify-content: center;
}
/*
color-overlay d-flex justify-content-center align-content-center*/
